<!DOCTYPE html>
<html ng-app>
<head>
	<title>AngularJs Task</title>

</head>
<body>
<div>
	First TextBox : <input type="text" placeholder="Enter a Number" ng-model="name" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required> <br>

	Second TextBox : <input type="text" name="number" ng-model="name" onkeypress='return event.charCode >= 48 && event.charCode <= 57' required>
	

</div>
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

</html>